<!-- nagano_view_pablic_customers_information_edit -->

<h1>pablic_customers_information_edit_顧客の登録情報編集画面</h1>
  
  
<main>
  <p id="notice"></p>
  
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        
                   <!-- 編集ボタン -->
                   
              <h2>会員情報編集</h2>
                 <!-- form_with model: @コントローラーeditの情報, url: 遷移先のルーティング_path, method: :ルーティングのメソッド -->
            <%= form_with model: @customer, url: information_update_path, method: :patch do |f| %>
              <!--<table>-->
                
                <!-- 氏名 -->
              <div class="form-group">
                <label for="customer_name">
                  氏名
                </label>
                  <%= f.text_field :first_name %>
                  <%= f.text_field :last_name %>
              </div>
                <!-- フリガナ -->
              <div class="form-group">
                <label for="customer_name">
                  フリガナ
                </label>
                    <%= f.text_field :first_name_kana %>
                    <%= f.text_field :last_name_kana %>
              </div>
                <!-- 郵便番号 -->
              <div class="form-group">
                <label for="customer_postal_code">
                  郵便番号
                </label>
                    <%= f.text_field :postal_code %>
              </div>
                <!-- 住所 -->
              <div class="form-group">
                <label for="customer_address">
                  住所
                </label>
                    <%= f.text_field :address, class:"form-control" %>
              </div>
                <!-- 電話番号 -->
              <div class="form-group">
                <label for="customer_telephone_number">
                  電話番号
                </label>
                    <%= f.text_field :telephone_number %>
              </div>
                <!-- メールアドレス -->
              <div class="form-group">
                <label for="customer_email">
                  メールアドレス
                </label>
                    <%= f.text_field :email %>
              </div>
                <!-- 編集内容を保存する△ -->
              <strong class="form-group">
                <%= f.submit '編集内容を保存する', class:"btn btn-success" %>
              </strong>
                <!-- 退会する〇-->
              <strong>
              　<%= link_to "退会する", confirm_path, class:"btn btn-danger" %>
            　</strong>
            　
              <!--</table>-->
              
            <% end %>
          
        </div>
      </div>
    </div>
  </div>
  
</main>

