  <!-- nagano_view_pablic_customers_show -->
<h1>log_in_後_pablic_customers_show_顧客のマイページ画面</h1>
  
  
<main>
  <p id="notice"></p>
  
  <div class="container">
    <div class="row">
      <div class="col-7 col-4">
        <table>
            <!-- マイページ -->
          <thead>
            <th>マイページ</th>
          </thead>
            <tbody>
                <!-- 氏名 -->
              <tr>
                <td>氏名</td>
                  <td>
                    <%= @customer.first_name %> <%= @customer.last_name %>
                  </td>
              </tr>
                <!-- カナ -->
              <tr>
                <td>カナ</td>
                  <td>
                    <%= @customer.first_name_kana %><%= @customer.last_name_kana %>
                  </td>
              </tr>
                <!-- 郵便番号 -->
              <tr>
                <td>郵便番号</td>
                  <td>
                    <%= @customer.postal_code %>
                  </td>
              </tr>
                <!-- 住所 -->
              <tr>
                <td>住所</td>
                  <td>
                    <%= @customer.address %>
                  </td>
              </tr>
                <!-- 電話番号 -->
              <tr>
                <td>電話番号</td>
                  <td>
                    <%= @customer.telephone_number %>
                  </td>
              </tr>
                <!-- メールアドレス -->
              <tr>
                <td>メールアドレス</td>
                  <td>
                    <%= @customer.email %>
                  </td>
              </tr>
                <!-- -->
            </tbody>
        </table>
      </div>
    </div>
  </div>
</main>