<!-- nagano_view_admin_items_edit -->


      <!-- エラーメッセージ -->
  <% if @item.errors.any? %>
      <!-- エラーカウント -->
    <h2>
      <%= @item.errors.count %>errors prohibited this obj from being saved:
    </h2>
      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
  <% end %>
  
  <div class="row">
    <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-5">
      
        <!-- 色指定のスタイル -->
      <style>
       .example {
        background-color: #F0F0F0;
        width:135px;
        height:30px;
       }
      </style>
      
    <%= form_with model: @item, url: admin_update_path, method: :patch do |f| %>
      
      <table width="400"  height="300">
            
        <h4 class="example" align="center">商品編集</h4>
        
          <!-- 商品画像〇 -->
        <tr>
          <th>商品画像</th>
            <td>
              <%= f.file_field :image, accept: "image/*" %>
            </td>
        </tr>
          <!-- 商品名〇 -->
        <tr>
          <th>商品名</th>
            <td>
              <%= f.text_field :name %>
            </td>
        </tr>
          <!-- 商品説明〇 -->
        <tr>
          <th>商品説明</th>
            <td>
              <%= f.text_field :introduction %>
            </td>
        </tr>
          <!-- 税込み価格△ -->
        <tr>
          <th>税込み価格</th>
            <td>
              <%= f.text_field :price %>円
            </td>
        </tr>
          <!-- 新規登録△ -->
        <tr>
          <td>
            <%= f.submit '変更を保存', class:"btn btn-success" %>
          </td>
        </tr>
                  
      </table>
              
    <% end %>
            
    </div>
  </div>
  
  
  