  <!-- nagano_views_admin_sessions_new -->
  
  
  <div class="row">
    <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-6">
      
        <!-- 色指定のスタイル -->
      <style>
       .example {
        background-color: #F0F0F0;
        width:250px;
        height:35px;
       }
      </style>
      
      <h3 class="example" align="center">管理者ログイン</h3>
      
          <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= form_with model: @admin, url: admin_session_path do |f| %>
          <table width="400"  height="200">
              <!-- メールボックス -->
            <tr>
              <th><%= f.label :メールアドレス %></th>
              <th>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </th>
            </tr>
              <!-- password_box -->
            <tr>
              <th><%= f.label :パスワード %></th>
                <th>
                  <%= f.password_field :password, autocomplete: "current-password" %>
                </th>
            </tr>
              <!-- Log_in_box -->
            <tr>
              <th><%= f.submit "ログイン", class:"btn btn-primary" %></th>
            </tr>
          </table>
        <% end %>
          <!-- 変更済_ログイン機能しか仕様しないため -->
        <%= render "admin/shared/links" %>
        
    </div>
  </div>
    