  <!-- nagano_view_pablic_homes_top -->
  
<h1>pablic_homes_top画面</h1>


<html>  
    <!-- フラッシュメッセージ投稿成功時 -->
  <div>
    <%= flash[:notice] %>
  </div>
  
  <main>
    <p id="notice"></p>
    
    <div class="container">
      <div class="row">
        <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-6">
          
        <h2>ようこそ、ながのCAKEへ！</h2>
        
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
        
        
        <h3>新着商品</h3>
            <!-- 商品一覧表示 -->
          <table border="1" width="340" height="380">
              <!-- 商品画像,商品名,アイテム価格 -->
            <tbody>
              <% @items.each do |item| %>
                <tr>
                    <!-- 商品画像〇 -->
                  <td>
                    <%= image_tag item.get_image, size: "130x90" %>
                  </td>
                    <!-- 商品名〇 -->
                  <td>
                    <%= link_to item_path(item.id) do %>
                      <%= item.name %>
                    <% end %>
                  </td>
                    <!-- アイテム価格 -->
                  <td>
                    <%= item.price %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            
          </table>
          
            <!-- 全ての商品を見る -->
          <div>
            <%= link_to "全ての商品を見る", items_path %>
          </div>
          
        </div>
      </div>
    </div>
    
  </main>
   
</html>

