<!-- nagano_view_admin_customers_index_top -->
 
<h1>admin_Customers_index_顧客一覧画面</h1>
  

  <div class="row">
    <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-9">
      
        <!-- 色指定のスタイル -->
      <style>
       .example {
        background-color: #F0F0F0;
        width:130px;
        height:30px;
       }
      </style>
      
      <table border="1" width="800"  height="300">
        
        <h4 class="example" align="center">会員一覧</h4>
        
          <!-- 会員ID,氏名,メールアドレス,ステータス -->
        <thead class="example">
          <tr align=”center”>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        
        <% @customers.each do |customer| %>
            <!-- 商品一覧表示 -->
          <tbody>
              <!-- 商品ID,商品名,価格_投稿内容 -->
            <tr align="left">
                <!-- 顧客ナンバー〇 -->
              <td>
                <%= customer.id %>
              </td>
                <!-- 顧客名〇 -->
              <td>
                <%= link_to admin_customers_show_path(customer.id) do %>
                  <%= customer.last_name %>
                  <%= customer.first_name %>
                <% end %>
              </td>
                <!-- メールアドレス〇 -->
              <td>
                <%= customer.email %>
              </td>
                <!-- 会員ステータス着色〇 -->
              <td>
                <% if customer.is_active %>
                  <span style="color: green;">有効</span>
                <% else %>
                  <span style="color: lightgray;">退会</span>
                <% end %>
              </td>
            </tr>
          </tbody>
        
        <% end %>
      
      </table>
       
    </div>
  </div>
