<!-- nagano_view_admin_orders_show_top -->


    <!-- 注文履歴詳細画面 -->
  <div class="row">
    <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-9">
      
        <!-- 色指定のスタイル -->
      <style>
       .example {
        background-color: #F0F0F0;
        width:220px;
        height:30px;
       }
      </style>
      
        <!-- 注文履歴詳細画面 -->
      <td>
        <h4 class="example" align="center">注文履歴詳細画面</h4>
      </td>
        <!-- 購入日時,購入者,注文個数 -->
      <table border="1" width="800"  height="50">
          <!-- 購入日時,購入者,注文個数〇 -->
        <thead class="example">
          <tr align=”center”>
            <th>購入者</th>
            <th>注文日</th>
            <th>配送先</th>
            <th>支払方法</th>
          </tr>
        </thead>
          <!-- 商品一覧表示〇 -->
        <tbody>
              <!-- 商品ID,商品名,価格_投稿内容〇 -->
          <tr align="left">
              <!-- 購入者〇 -->
            <td>
              <%= link_to admin_customers_show_path(@order.customer_id) do %>
                <%= @order.customer.full_name %>
              <% end %>
            </td>
              <!-- 注文日〇 -->
            <td>
              <%= @order.created_at %>
            </td>
              <!-- 配送先〇 -->
            <td>
              <%= @order.post_code %>
              <%= @order.address %>
              <br />
              <%= @order.customer.full_name %>
            </td>
              <!-- 支払方法,日本語化〇 -->
            <td>
              <%= @order.payment_method_i18n %>
            </td>
          </tr>
        </tbody>
      
      </table>
        <!-- 商品,単価(税込),個数,小計 -->
      <table border="1" width="800"  height="50">
          <!-- 商品,単価(税込),個数,小計 -->
        <thead class="example">
          <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
          <!-- 商品,単価(税込),個数,小計 -->
        <tbody>
          <% @order.order_items.each do |order_item| %>
            <tr>
                <!-- 商品 -->   
              <td>
                <%= order_item.item.name %>
              </td>
                <!-- 単価(税込) -->
              <td>
                <%= number_with_delimiter(order_item.item.with_tax_price, delimiter: ',') %>
              </td>
                <!-- 個数 -->
              <td>
                <%= order_item.quantity %>
              </td>
                <!-- 小計 -->
              <td>
                <%= number_with_delimiter(order_item.tax_included_price * order_item.quantity, delimiter: ',', separator: '.') %>
              </td>
            </tr>
          <% end %>
        </tbody>
        
      </table>
        <!-- 請求情報 = 商品合計,送料,請求金額合計 -->
      <table border="1" width="800"  height="50">
          <!-- 商品合計,送料,請求金額合計 -->
        <thead class="example">
          <tr>
            <th>商品合計</th>
            <th>送料</th>
            <th>請求金額合計</th>
          </tr>
        </thead>
          <!-- 商品合計,送料,請求金額合計 -->
        <tbody>
          <tr>
              <!-- 商品合計〇 -->
            <td>
              <%= number_with_delimiter(@sum, delimiter: ',') %>円
            </td>
              <!-- 配送料〇 -->
            <td>
              <%= @order.postage %>円
            </td>
              <!-- ご請求額〇 -->
            <td>
              <%= number_with_delimiter(@order.billing_amount, delimiter: ',') %>円
            </td>
          </tr>
        </tbody>
        
      </table>
      
    </div>
    
  </div>
  