  <!-- nagano_view_admin_homes_top -->
  
    <!-- フラッシュメッセージ投稿成功時 -->
  <div>
    <%= flash[:notice] %>
  </div>
 
  <div class="row">
    <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-9">
          
        <!-- 色指定のスタイル -->
      <style>
       .example {
        background-color: #F0F0F0;
        width:160px;
        height:30px;
       }
      </style>
        <!-- 注文履歴一覧〇 -->
      <table border="1" width="800"  height="50">
        
        <h4 class="example" align="center">注文履歴一覧</h4>
        
          <!-- 購入日時,購入者,注文個数〇 -->
        <thead class="example">
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
          </tr>
        </thead>
            
          <!-- 商品一覧表示〇 -->
        <tbody>
        
        <% @order.each do |order| %>
                  <!-- 商品ID,商品名,価格_投稿内容 -->
          <tr align="left">
              <!-- 顧客ナンバー〇 -->
            <td>
              <%= link_to admin_orders_show_path(order.id) do %>
                <%= order.created_at %>
              <% end %>
            </td>
              <!-- 顧客名〇 -->
            <td>
              <%= order.customer.last_name %>
              <%= order.customer.first_name %>
            </td>
              <!-- 注文個数〇 -->
            <td>
                <!--%= order.order_ids.size %-->
              <%= order.order_items.sum(:quantity) %>
            </td>
            
          </tr>
                
        <% end %>
        
        </tbody>
          
      </table>
          
    </div>
  </div>
  
  