<!-- nagano_view_pablic_order_confirm -->


  <div class="row">
    <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-9">
      
      <!-- 色指定のスタイル -->
    <style>
     .example {
      background-color: #F0F0F0;
      width:220px;
      height:30px;
     }
    </style>
    
        <!-- 注文情報確認画面〇 -->
      <table border="1" width="800"  height="50">
        
        <h4 class="example" align="center">注文情報確認画面</h4>
        
              <!-- 商品名,単価,数量,小計,送料,商品合計,請求金額〇 -->
        <thead class="example">
          <tr>
            <th>商品名</th>
            <th>単価(税込み)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
              <!-- 合計金額を出すために o 円を設定? -->
          <% @sum = 0 %>
              <!-- 商品画像,商品名,価格,個数,小計,合計 -->
        <tbody>
              <!-- 商品一覧表示〇-->
          <% @cart_items.each do |cart_item| %>
            <tr align="left">
              <!-- 商品画像,商品名〇 -->
            <td>
              <%= image_tag cart_item.item.get_image, size: "100x70" %>
                <!-- cart_item.送信データ.name -->
              <%= cart_item.item.name %>
            </td>
              <!-- 単価(税込),価格〇 -->
            <td>
              <%= number_with_delimiter(cart_item.item.with_tax_price) %>
            </td>
              <!-- 数量の個数〇 -->
            <td>
                <%= cart_item.quantity %>
            </td>
              <!-- 商品の単一小計価格〇 -->
            <td>
                <!-- 商品単一合計価格 -->
              <%= number_with_delimiter(cart_item.subtotal) %>
            </td>
                <!-- 商品の合計価格算出場所〇  -->
                <!-- 全ての単一商品の合計値を出すために記述しておく,無いと合計が出ない -->
              <% @sum += cart_item.subtotal %>
            </tr>
          <% end %>
          
        </tbody>
        
      </table>
        <!-- 送料,商品合計,請求金額〇 -->
      <table border="1" width="800"  height="100">
          <!-- 送料,商品合計,請求金額,表示 -->
        <thead class="example">
          <tr>
            <th>送料</th>
            <th>商品合計</th>
            <th>請求金額</th>
          </tr>
        </thead>
              <!-- 送料,商品合計,請求金額 -->
        <tbody>
          <tr align="left">
              <!-- 送料,800 -->
          <td>
            800
          </td>
              <!-- 商品合計金額 -->
          <td>
            商品合計金額 <%= number_with_delimiter(@sum) %>
          </td>
              <!-- 請求合計金額 -->
          <td>
            請求合計金額 <%= number_with_delimiter(@sum + @order.postage) %>
          </td>
          </tr>
        
        </tbody>
        
      </table>    
        <!-- 支払方法,お届け先〇 -->
      <table width="800"  height="100">
          <!-- 支払方法 -->
        <tr>
          <th>支払方法</th>
            <td>
              <%= @order.payment_method_i18n %>
            </td>
        </tr>
          <!-- お届け先 -->
        <tr>
          <th>お届け先</th>
            <td>
              <%= @order.post_code %>
              <%= @order.address %>
              <%= @order.name %>
            </td>
        </tr>
          
      </table>
      
        <!-- 注文を確定する,create〇 -->
      <div>
        <%= form_with model: @order, url: orders_path, method: :post do |f| %>
            <!-- hidden_field 情報を隠しつつ送信できる機能 -->
          <%= f.hidden_field :customer_id, :value => @order.customer_id %>
          <%= f.hidden_field :post_code, :value => @order.post_code %>
          <%= f.hidden_field :address, :value => @order.address %>
          <%= f.hidden_field :name, :value => @order.name %>
          <%= f.hidden_field :payment_method, :value => @order.payment_method %>
          <%= f.hidden_field :postage, :value => @order.postage %>
          <%= f.hidden_field :billing_amount, :value => @sum + @order.postage %>
          <%= f.submit '注文を確定する', class:"btn btn-success" %>
        <% end %>
      </div>
      
    </div>
  </div>
  